<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suerteyachat" android:usesCleartextTraffic="true">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/trisqueta"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/trisqueta"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
        android:name=".Firebase.FirebaseMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/trisqueta_not" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="NOTIFICACION"/>

        <meta-data android:name="applovin.sdk.key"
            android:value="LVsfeBPMZx27DkvqCE1XBA9FB3KN-q2NhOqrHC-G7CxP_4ldtSMo-uuTNTUFLlQG0NnifCg2TWm8XBkWyHZfrK"  />


    </application>

</manifest>

